img.logo {
    margin-top: 1.15rem;
    margin-left: 1.5rem;
    margin-bottom: 1.15rem;
}

/* small screen only */
@media screen and (max-width: 39.9375em) {
    img.logo {
        margin-top: 1rem;
        margin-left: 1.3rem;
        margin-bottom: 1rem;
    }
}

div.heading {
    height: 600px;
    background-position: center;
    background-size: cover;
    color: #fff;
}

div.heading .cell:first-child {
    margin-top: 7rem;
}

div.heading p {
    line-height: 5rem;
    font-size: 5rem;
    font-weight: 500;
}

/* small screen only */
@media screen and (max-width: 39.9375em) {
    div.heading .cell {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    div.heading p {
        width: 15rem;
        font-size: 3.5rem;
        line-height: 4rem;
    }
}

/* medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    div.heading .cell:first-child {
        margin-top: 5rem;
    }

    div.heading .cell {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    div.heading p {
        width: 25rem;
    }
}

/* large and up */
@media screen and (min-width: 64em) {
    div.heading .cell {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    div.heading p {
        width: 50rem;
    }
}

h1.title {
    margin-top: 4rem;
}

/* small screen only */
@media screen and (max-width: 39.9375em) {
    h1.title {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
}

img.icon {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

/* small screen only */
@media screen and (max-width: 39.9375em) {
    img.icon {
        margin-top: 2rem;
    }
}

div.footer {
    margin-top: 3rem;
    height: 100px;
    background-color: #bf1952;
    color: #fff;
}

div.footer p {
    margin-bottom: 0;
}
